{
    "mailers": [
        {
            "transport": "smtp",
            "host": "localhost",
            "user": "me@example.com",
            "password": "",
            "tryme": {
                "attr1": "h!",
                "tryme_deeper": [
                    {
                        "deeper": ""
                    }
                ]
            }
        }
    ],
    "environments": {
        "dev": {
            "debug": true
        }, "prod": {
            "debug": false
        }, "test": {
            "debug": true
        }
    }
}